.gff-nav {
  position: relative;
  display: flex;
  z-index: 20;
  width: 100%;
  height: 75px;
  transition: width 0.2s ease;

  &:hover {
    transition: width 0.2s ease;
  }

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1660px;
    width: 100%;
    margin: 0 auto;
  }

  ul {
    width: auto;
    height: 100%;
    padding: 0 15px;
    margin: 0;
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      height: 100%;
      font-size: 16px;

      &:hover {

        a {
          text-decoration: none;
        }
      }

      .nav-tab {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 2px 10px;

        a {

          &:hover {
            cursor: pointer;
          }
        }

        i {
          margin-right: 3px;
        }

        p {
          display: inline-block;
          margin-bottom: 0px;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {

  .gff-nav {

    .nav-container {
      justify-content: center;
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: fixed;
      top: 18px;
      left: 67px;
      height: 0;
      width: 1px;
      overflow: hidden;
      padding: 0;
      transition: all 0.3s ease;

      background-color: rgba(31, 31, 31, 0.95);

      li {
        width: 100%;
        height: auto;
        padding: 7px 15px;

        &:nth-child(1) {
          margin-top: 0px;
        }

        &:hover {
          background-color: #000;
        }

        a {
          color: #fff;

          &:hover {
            color: $green-primary;
          }
        }
      }

      &.open {
        width: 150px;
        height: 285px;
        overflow: hidden;
        transition: all 0.3s ease;
      }
    }
  }
}
