.recent-comments-container {
  width: 100%;
  padding: 15px 30px;
}

.comments-list {
  padding: 0 15px;
}

.comment {
  list-style: none;

  comment {
    display: table;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: $color-blue-ultra-light-hover;

    .user-container {
      margin-bottom: 10px;

      .profile-pic {
        color: $color-blue;

        .fa-user {
          font-size: 24px;
        }
      }

      .user-info {

        .author-name {
          color: $color-blue;
        }

        .created-at {
          font-size: 12px;
          color: $color-font-lt-gray;
        }
      }
    }

    .comment-footer {
      @include flex(flex-end, center, row);

      .gff-btn {

        &:nth-child(1) {
          margin-right: 5px;
        }
      }
    }

    textarea {
      width: 100%;
      min-height: 75px;
      padding: 5px 15px;
      margin-bottom: 5px;
      border-radius: 5px;
      border-color: #e1e1e1;
      color: $color-font-lt-gray;
      font-weight: 300;
      resize: none;

      &:hover {
        border-color: $color-orange;
      }

      &:active, &:focus {
        border-color: $color-blue-hover;
        color: $color-font-gray;
        outline: none;
      }
    }
  }
}

.new-comment {
  list-style: none;
  margin: 15px 0;

  new-comment {
    display: table;
    width: 100%;

    textarea {
      width: 100%;
      min-height: 75px;
      padding: 5px 15px;
      margin-bottom: 5px;
      border-radius: 5px;
      border-color: #e1e1e1;
      color: $color-font-lt-gray;
      font-weight: 300;
      resize: none;

      &:hover {
        border-color: $color-orange;
      }

      &:active, &:focus {
        border-color: $color-blue-hover;
        color: $color-font-gray;
        outline: none;
      }
    }
  }
}
