.game-container {
  margin-bottom: 30px;

  .game-content {
    padding: 30px;
    background: #fff;
  }

  .game-name {
    margin-bottom: 10px;
    font-weight: 700;
  }

  .game-location {
    margin: 0;
  }

  .date-played {
    margin-bottom: 30px;
  }
}

.recent-games-container {
  width: 100%;

  .recent-game {
    position: relative;
    padding: 15px;
    background-color: #4b4e54;
    color: #fff;

    p {
      margin: 0;
    }

    .name {
      font-size: 20px;
      font-weight: 400;
    }

    .footer {
      @include flex(space-between, center, row);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 15px;

      .right {

        p {
          display: inline-block;
        }

        .players {
          margin-right: 10px;
        }
      }
    }

    .svg-inline--fa {
      margin-right: 5px;
    }

    .fa-map-marker-alt {
      color: $green-secondary;
    }
  }
}
