.game-container {
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #f4f4f4;

  &:hover {
    border-color: $color-blue-light;
  }

  .game-content {
    @include flex(flex-start, flex-start, row);
    padding: 25px;

    p {
      font-size: 14px;
    }

    .game-info {
      width: 80%;

      .game-name {
        display: inline;
        margin-bottom: 5px;
        color: $color-blue;
        font-weight: 700;
      }

      .game-location {
        display: inline;
        margin-left: 8px;
        font-size: 14px;
        white-space: nowrap;

        .fa-map-marker-alt {
          margin-right: 3px;
          color: $color-blue;
        }
      }

      .date-played {
        margin-bottom: 75px;
      }
    }

    .game-results {
      @include flex(flex-start, flex-start, col);
      width: 20%;

      .results-list {
        padding: 0;
        list-style: none;

        .list-title {
          margin-bottom: 10px;
        }

        p {
          margin-bottom: 5px;
          white-space: nowrap;
        }
      }
    }
  }
}

.recent-games-container {
  width: 100%;
}
