.game-container {
  margin-bottom: 30px;

  .game-content {
    padding: 30px;
    background: #fff;
  }

  .game-name {
    margin-bottom: 10px;
    font-weight: 700;
  }

  .game-location {
    margin: 0;
  }

  .date-played {
    margin-bottom: 30px;
  }
}
