.page-container {
  @include flex(center, flex-start, row);
  width: 100%;
  padding-bottom: 90px;

  &.left {
    @include flex(flex-start, flex-start, col);
    position: relative;
    z-index: 30;
    min-width: 250px;
    width: 250px;
    background: $color-bg-dark;
  }

  &.right {
    @include flex(flex-start, flex-start, col);
  }

  &.dark {
    background: #4b4e54;
  }
}

.page-content {
  @include flex(center, flex-start, col);
  width: 100%;
  margin: 0 auto;
  background: #fff;
}



@media screen and (max-width: 900px) {

  .page-container {

    &.left {
      display: none;
    }

    &.right {
      padding: 0 0 60px 0;
    }
  }
}
