.about-section {

  h1 {
    color: #343e47;
    text-align: center;
  }

  hr {
    width: 25%;
    margin-top: 15px;
    border-color: $orange-primary;
  }

  p {
    width: 80%;
    margin: 0 auto;
  }
}
