.features-section {
  display: table;

  h1 {
    text-align: center;
  }

  hr {
    width: 25%;
    border-color: $orange-primary;
  }

  .feature-container {

    h4 {
      margin-bottom: 5px;
      text-align: center;
    }
  }
}
