.features-section {
  display: table;
  width: 100%;
  margin: 0 auto;
  background-color: $bg-dark-primary;

  h2 {
    color: #fff;
    text-align: center;
  }

  .feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 60px;

    i {
      margin-bottom: 15px;
      font-size: 46px;
      color: #fff;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.2);
        transition: transform 0.2s ease;
      }
    }

    h4 {
      margin-bottom: 5px;
      color: $green-primary;
      text-align: center;
    }

    p {
      color: #fff;
    }
  }
}
