<nav-bar class="col-xs-12"></nav-bar>
<div class="games-content" ng-init="gc.getAllByPublicId(gc.publicIds)" ng-hide="newGame">

  <div class="game-box main col-md-7 col-xs-12">
    <div class="box-content col-md-12">

      <div class="info-box">
        <div class="golfers">
          <p class="box-header">Golfers</p>
          <h3><i class="fa fa-user"></i> 3</h3>
        </div>
        <div class="total">
          <p class="box-header">Total</p>
          <h3>+22</h3>
        </div>
        <div class="overall">
          <p class="box-header">Overall</p>
          <h3>94</h3>
        </div>
      </div>

      <div class="title-box">
        <div class="course-box">
          <h3>Newcastle - China Creek</h3>
          <p><i class="fa fa-map-marker"></i> Newcastle, WA</p>
        </div>
        <div class="date-box">
          <p class="month">OCT</hp>
          <h2 class="date">17</h2>
          <p class="year">2017</p>
        </div>
      </div>

      <div class="search-container" ng-init="gc.searchClickHandler(); gc.searchListener('game-name-input')">
        <button class="gff-btn search" id="search-btn"><i class="fa fa-search"></i></button>
        <div class="search-content" id="search-content">
          <input id="game-name-input" type="text" placeholder="search games"></input>
          <ul>
            <li ng-repeat="game in gc.searchResults">{{game.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- .game-box main-->

  <div class="game-stats-container pull-right col-md-5 col-xs-12">
    <div class="game-stats-content col-xs-12">
      <button class="gff-btn" ng-hide="newGame" ng-click="newGame=true; gc.getFriendsList();">Create Game</button>
      <game-chart class="col-xs-12"></game-chart>
    </div>
  </div>

  <div class="game-list-container col-md-7 col-xs-12">
    <div class="game-list-content col-xs-12">
      <div class="game-box alt list-item col-md-4 col-xs-6">
        <h3>MORE GAMES ></h3>
      </div>
      <a class="game-box list-item col-md-4 col-xs-6" data-name="{{game.name}}" href="{{gc.baseUrl}}/#!/games/public/{{game.publicId}}" ng-repeat="game in gc.games">
        <div ng-class-odd="'bg-overlay odd'" ng-class-even="'bg-overlay even'"></div>
        <div class="info-box">
          <p><span class="color-green">+</span>{{game.yourStrokes}}</p> <span class="color-orange">|</span> <p>{{game.yourScore}}</p> <span class="color-orange">|</span> <p><i class="fa fa-user"></i>{{game.totalGolfers}}</p>
        </div>
        <div class="title-box">
          <div class="loc-box">
            <p class="loc">{{game.location}}</p>
          </div>
          <h3>{{game.name}}</h3>
          <div class="date-box">
            <p>{{game.playedOn}}</p>
          </div>
        </div>
      </a>
    </div><!-- .game-list -->
  </div><!-- .game-list-container-->

</div><!-- .games-content -->

<new-game data-friends-list="gc.friendsList" ng-show="newGame"></new-game>
