<div class="gff-container">
  <div class="gff-content alt">
    <div class="search-container">
      <form class="add-friends-form" name="add-friends-form" autocomplete="off">
        <input class="gff-input" id="search-input-users" type="text" placeholder="Search By Email"></input>
        <ul class="users-list shadow-sm">
          <li ng-repeat="user in searchResults">
            <p>{{user.fullName}}</p>
            <button class="gff-btn disabled sm" ng-show="user.isFriend"><i class="fas fa-check"></i>Friends</button>
            <button class="gff-btn sm" ng-hide="user.isFriend" ng-click="fc.addFriend(user._id, user.stats); user.isFriend=true;"><i class="fas fa-user-plus"></i>Add Friend</button>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>
