.friend-box {
  @include flex(center, flex-start, col);
  width: 170px;
  margin-bottom: 15px;
  border-radius: 2px;

  .profile-pic {
    @include flex(center, center, col);
    width: 100%;
    height: 170px;
    background: #f1f1f1;
    font-size: 80px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  .content {
    padding: 15px;

    .box-title {
      margin: 0;
    }
  }
}
