.player-box {
  @include flex(space-between, center, row);
  width: 275px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-top: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;

  .title-box {
    padding: 10px;

    p {
      margin: 0;
    }
  }

  .buttons-container {
    @include flex(center, center, row);
    height: 42px;

    .edit-box {

      p {
        display: inline;
      }

      input {
        width: 40px;
        height: 42px;
        border-radius: 0;
        border: none;
        background: $color-blue-ultra-light;
        color: $font-color-dark;
        text-align: center;

        &:active, &:focus {
          background: $color-blue-ultra-light;
        }
      }
    }

    .gff-btn {
      height: 100%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
