nav-bar {
  margin: 30px 0;
}

.gff-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .gff-logo-container {
    display: flex;
    align-items: center;

    width: 270px;
    height: 40px;
    margin: 0;
    padding: 0 15px;
    border-right: 1px solid $border-color-semi-dark;

    h4 {
      padding-left: 15px;
    }
  }

  .nav-menu {
    display: inherit;
    position: absolute;
    right: 78px;
    height: 40px;

    width: 0;
    padding: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;

    list-style: none;
    overflow: hidden;
    transition: width 0.4s ease;

    li {
      font-size: 16px;

      a {
        display: inherit;
        padding: 9px 15px;
        color: $font-color-dark;

        &:hover {
          background: $orange-primary;
          color: $font-color-light;
        }
      }

      i {
        font-size: 18px;
      }
    }

    &.open {
      width: 336px;
      transition: width 0.4s ease;
    }
  }
}
