<div class="page-container left">
  <sub-nav data-page-title="'SETTINGS'"></sub-nav>
</div>

<div class="page-container right">
  <div class="page-content">
    <div class="settings-container">
      <h3>Account Information</h3>
      <h4>Avatar</h4>
      <input class="gff-upload-btn" type="file" id="avatar-input" name="avatar-input" accept=".jpg, .jpeg, .bmp, .png">
      <h4>Name</h4>
      <input type="text" name="fullName" value="{{sc.user.fullName}}"></input>
      <h4>Email</h4>
      <input type="text" name="email" value="{{sc.user.email}}"></input>
      <h4>Password</h4>
      <p>****</p>
      <button class="gff-btn" type="button" name="change-password-btn">Change Password</button>
    </div>
  </div>
</div>
