<div>
  <h3>Current Players</h3>
  <ul>
    <li ng-repeat="player in gc.game.players">
      {{player.fullName}}
      <input type="text" required placeholder="Total Score (ex. 87)" ng-model="player.score"></input>
      <button type="submit">Edit</button>
      <button type="submit" ng-click="gc.removePlayer(player)">X</button>
      <button type="submit">Save</button>
    </li>
  </ul>
</div>

<div>
  <h3>add player</h3>
  <form name="add-player" data-ng-submit="gc.addPlayer(gc.player)">
    <select ng-model="gc.player">
      <option ng-repeat="friend in gc.friendsList" value="{{friend}}">{{friend.fullName}}</option>
    </select>
    <button type="submit">Add Player</button>
  </form>
</div>

<form name="new-game" data-ng-submit="gc.createGame(gc.game)">
  <input type="text" placeholder="Game Name" ng-model="gc.game.name"></input>
  <button type="submit">Submit</button>
</form>
