<div>
  <h2>Create a Game</h2>
  <h3>Please enter game information below.</h3>

  <div class="create-game-container">
    <p>Course Played</p>
    <select ng-model="gc.game.name">
      <option value="Newcastle GC - China Creek">Newcastle GC - China Creek</option>
      <option value="Newcastle GC - Coal Creek">Newcastle GC - Coal Creek</option>
    </select>

    <p>City, State</p>
    <input type="text" ng-model="gc.game.location"></input>

    <p>Date Played</p>
    <input ng-model="gc.game.datePlayed" type="date" name="date" required>
    <p>Players</p>

  </div>

  <ul>
    <li ng-repeat="player in gc.game.players">
      <p>{{player.fullName}}</p>
      <p ng-hide="editing"><strong>Total Strokes:</strong> {{player.strokes}}</p>
      <input type="text" required placeholder="101" ng-model="player.strokes" ng-show="editing"></input>
      <button ng-hide="editing" ng-click="editing=true">Edit</button>
      <p>test</p>
      <button ng-click="gc.removePlayer(player)">X</button>
      <button ng-hide="!editing" ng-click="editing=false">Save</button>
    </li>
  </ul>
  <div>
    <h3>add player</h3>
    <form name="add-player" ng-submit="gc.addPlayer(gc.player)">
      <select ng-model="gc.player">
        <option ng-repeat="friend in gc.friendsList" value="{{friend}}">{{friend.fullName}}</option>
      </select>
      <button type="submit">Add Player</button>
    </form>
  </div>
</div>

<form name="new-game" ng-submit="gc.createGame(gc.game)">
  <button type="submit">Submit</button>
</form>
