.auth-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .signup-layout {
    display: table;
    vertical-align: middle;
    width: $col-one * 8;
    min-width: 600px;
    max-width: 1100px;

    .left-container {
      display: table-cell;
      vertical-align: middle;

      width: 50%;
      padding: 80px 30px;
      padding-top: 80px;
      padding-bottom: 80px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

      background-color: rgba(0, 0, 0, 0.5);
      text-align: center;
    }

    .right-container {
      display: table-cell;

      width: 50%;
      height: 100%;
      padding-top: 80px;
      padding-bottom: 80px;

      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: rgba(255, 255, 255, 1.0);
    }

    signup, signin {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    h3 {
      margin-top: 10px;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 250px;

      p {
        margin-bottom: 0px;
      }

      .input-container {
        position: relative;
        margin-bottom: 5px;

        .fa {
          position: absolute;
          top: 0px;

          width: 25px;
          height: 44px;
          padding-top: 13px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;

          background: $green-opaque;
          font-size: 16px;
          text-align: center;
        }
      }

      input {
        width: 225px;
        margin: 0px;
        margin-left: 25px;
        padding: 5px 5px 7px 5px;
        border: 1px solid #cacaca;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        background: rgba(255, 255, 255, 0.3);
        color: $font-color-dark;
        line-height: 30px;

        &::placeholder {
          color: #b0b0b0;
        }

        &:hover, &:focus {
          color: $font-color-dark;
          border: 1px solid $orange-light-opaque;
          outline: none;
        }

        &:focus {
          color: $font-color-dark;

          &::placeholder {
            opacity: 0.0;
          }
        }
      }

      button {
        margin: 15px 0px 10px 0px;
        padding: 6px;
        border: 2px solid $border-invis;
        border-radius: 5px;
        background-color: $button-primary-bg;

        &:hover {
          border: 2px solid $orange-light-opaque;
          background: none;
          color: $orange-light-opaque;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .auth-container {

    .signup-layout {
      width: $col-one * 10;
    }
  }
}

@media screen and (max-width: 768px) {
  .auth-container {

    .signup-layout {
      width: $col-one * 11;
    }
  }
}
