html, body, main {
  width: 100%;
  height: 100%;
}

main {
  display: table;
  z-index: 1;
}

h1, h2, h3 {
  margin: 0;
}

a {
  cursor: pointer;
}

.bg-overlay {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
}

.gff-container {
  display: table;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.intro-container {

  p {
    padding: 0 15px;
    font-size: 18px;
  }
}

hr {

  &.full {
    margin: 0;
    border-top: 5px solid #fff;
    transition: all 0.3s ease;

    &.top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    &.green {
      border-color: $green-primary;
    }
  }

  &.fill {
    width: 0;
    margin: 0;
    transition: all 0.5s ease;

    &.top {
      position: absolute;
      top: 0;
      left: 50%;
    }

    &.green {
      border-top: 5px solid $green-primary;
    }
  }
}

.t-block {
  position: absolute;
  bottom: 3px;
  z-index: 0;
  height: 27px;
  width: 7px;
  border-radius: 2px;
  transition: all 0.2s ease;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  border-bottom: none;

  h2 {
    padding: 0;
  }
}
