.dashboard-main {

  .dashboard-container {
    margin-bottom: 50px;
    border-top: 1px solid #ccc;
    box-shadow: 0 4px 4px -2px #ccc;

    h1 {
      margin-top: 0px;
    }

    .dashboard-content {
      max-width: 1660px;
      margin: 0 auto;
      padding: 15px;
    }
  }
}
