.dashboard-main {
  display: flex;
  justify-content: center;

  .dashboard-content {
    max-width: 1200px;
    padding-top: 80px;
    margin-left: 65px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .dash-widget-container {
      position: relative;
      width: 30%;
      margin-bottom: 30px;
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: 30px;

      .widget-panel {
        min-height: 100px;
        padding: 15px;
        border-radius: 10px;
        background: $panel-bg-white-opaque;

        &:hover {
          background: $panel-bg-white;
          background: #eee;
          cursor: pointer;

          .widget-base {
            display: block;
            background: #ffbc2e;
          }
        }

        .widget-body {

          h4 {
            display: block;
            margin-bottom: 15px;
            color: #363941;
          }

          p {
            display: block;
            color: #363941;
          }

          i {
            position: absolute;
            right: 15px;
            top: 20px;
            color: $green-primary;
            font-size: 30px;
          }
        }

        .widget-base {
          display: none;
          position: absolute;
          bottom: 25%;
          left: 0;
          width: 5px;
          // width: 100%;
          height: 50%;
          // border-top-left-radius: 10px;
          // border-bottom-left-radius: 10px;
          background: $orange-primary;
        }
      }
    }

    @media screen and (max-width: 991px) {

      .dash-widget-container {
        width: 40%;
      }
    }

    @media screen and (max-width: 768px) {

      .dash-widget-container {
        width: 80%;
      }
    }
  }
}
