.dashboard-content {
  padding-top: 80px;
  margin-left: 65px;
  margin-right: 15px;

  .dash-widget-container {
    margin-bottom: 30px;

    .widget-panel {
      min-height: 200px;
      // color: #fff;
      color: #000;
      // background-color: $panel-bg-dark-opaque;
      background-color: $panel-bg-white-opaque;

      h2 {
        // color: $orange-primary;
        color: $green-primary;
      }

      &:hover {
        // background-color: $panel-bg-dark-primary;
        background: #fff;
        cursor: pointer;
      }
    }
  }
}
