input {
  height: 40px;
}

.gff-select {
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  background: #fff;

  select {
    width: 100%;
    height: 40px;
    padding: 20px;
    border: none;
    background: none;

    &:active {
      outline: none;
    }

    &:focus {
      outline: none;
    }
  }
}
