input {
  height: 40px;
  padding: 5px;
  border: 1px solid #f1f1f1;
  border-radius: 2px;

  &::placeholder {
    color: #d1d1d1;
  }

  &:hover {
    border-color: #d1d1d1;
  }

  &:focus {
    outline-color: $green-opaque;
  }
}

.gff-select {
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  background: #fff;

  &:hover {
    border-color: #d1d1d1;
  }

  select {
    width: 100%;
    height: 40px;
    padding: 20px;
    border: none;
    background: none;

    &:active {
      outline: none;
    }

    &:focus {
      outline-color: $green-primary;
    }
  }
}

.new-game-form {
  font-size: 16px;

  p {
    font-weight: 600;
  }

  .course-container, .location-container, .date-container {
    display: inline-block;
    margin-right: 30px;
  }

  .players-container {
    margin-top: 30px;

    .player-list {
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
      }

      .player-box {
        display: table;
        border-radius: 2px;
        background: $bg-dark-opaque;
        color: #fff;

        i {
          font-size: 18px;
        }

        .title-box,
        .strokes-box,
        .edit-box,
        .remove-box {
          display: table-cell;
          padding: 10px 15px;
        }

        .title-box {
          padding-right: 30px;
          border-right: 1px solid #555;
        }

        .strokes-box {
          border-right: 1px solid #555;
        }

        .edit-box {
          border-top: 5px solid rgba(0, 0, 0, 0);
          border-right: 1px solid #555;
          border-bottom: 5px solid rgba(0, 0, 0, 0);
          transition: all 0.2s ease;

          &:hover {
            border-bottom-color: $orange-primary;
            color: $orange-primary;
            transition: all 0.2s ease;
          }

          a {
            color: #fff;
            text-decoration: none;

            &:hover {
              color: $orange-primary;
              text-decoration: none;
            }
          }

          input {
            width: 35px;
            height: auto;
            margin-right: 10px;
            border: none;
            background: #555;
            color: #fff;
            text-align: center;
            font-weight: 600;
          }
        }

        .remove-box {
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
          color: #dc1616;
          transition: all 0.2s ease;

          &:hover {
            background: #dc1616;
            color: #fff;
            transition: all 0.2s ease;
          }
        }
      } //.player-box
    } //.player-list
  } //.player-container
} //.new-game-form
