title-header {
  width: auto;
}

.gff-logo-container {
  z-index: 20;
  display: table;
  padding: 5px 15px;
  color: #1f1f1f;

  h4 {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding-left: 8px;

    span {
      color: $green-primary;
    }
  }

  .gff-logo-full {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 5px;
  }
}
