.auth-container {

  .signup-layout {

    .left-container {
      background-color: $panel-bg-dark-opaque;
    }

    .right-container {
      background-color: $panel-bg-white;

      form {

        .input-container {

          .fa {
            background-color: $green-opaque;
          }

          input {
            background-color: rgba(255, 255, 255, 0.3);
            color: $font-color-dark;

            &::placeholder {
              color: #b0b0b0;
            }

            &:hover, &:focus {
              color: $font-color-dark;
              border-color: $orange-light-opaque;
            }
          }
        }

        button {
          background-color: $button-primary-bg;
          border-color: $border-invis;

          &:hover {
            background: none;
            color: $orange-light-opaque;
            border-color: $orange-light-opaque;
          }
        }
      }
    }
  }
}
