main {
  background: #f7f7f7;
  color: $font-color-dark;
}

span {

  &.color-green {
    color: $green-primary;
  }

  &.color-white {
    color: #fff;
  }

  &.color-orange {
    color: $orange-primary;
  }
}

.t-block {
  background: $bg-dark-opaque;

  &.green {
    background: $green-primary;
  }

  &.orange {
    background: $orange-primary;
  }
}
