.gff-btn {
  background: $orange-primary;
  color: $font-color-light;
  border-color: $orange-primary;

  &:focus {
    outline: none;
  }

  &.ghost {
    background: none;
    color: $font-color-light;
    border-color: $orange-primary;

    &:hover {
      background: $orange-primary;
    }

    &:focus {
      outline: none;
    }
  }
}
