.dashboard-main {

  .dashboard-container {
    // background-color: #1f1f1f;
    // background-color: rgba(31, 31, 31, 0.9);
    background: none;
    color: #fff;
    // background-color: #ecf1f7;
    // background-color: #f1f1f1;

    h2 {
      color: $orange-primary;
    }
  }

  .dashboard-content {
    // background-color: rgba(31, 31, 31, 0.9);
    background-color: #383838;
  }
}
