dashboard {
  display: table;
  width: 100%;
}

.dashboard-main {

  h2 {
    color: $font-color-dark;
  }

  .dashboard-container {
    background: #fff;
    color: $font-color-dark;

    &.stats {
      background: none;

      .handicap-container {

        .hc-content {
          background: $bg-dark-primary;
          color: #fff;

          p {
            color: #fff;
          }

          h3 {
            color: $font-color-light;
          }
        }
      }
    }


  }
}
