a {
  color: $link-primary-color;

  &:hover, &:active, &:focus, &:visited {
    color: $link-primary-color;
  }
}

.signup-layout {
  color: $font-color-light;

  h3 {
    color: $green-primary;
  }

  a {
    color: $orange-primary;
  }
}
