a {
  color: $link-secondary-color;

  &:hover, &:active, &:focus, &:visited {
    color: $link-primary-color;
  }
}

.signup-layout {
  color: $font-color-light;

  h3 {
    color: $green-primary;
  }

  a {
    color: $link-secondary-color;
  }

  .left-container {

    p {
      color: $green-primary;
    }
  }

  .right-container {

    p {
      color: #a1a1a1;
    }
  }
}
