.gff-nav {
  background-color: $nav-bg-dark-primary-color;

  ul {

    li {

      a {
        color: #fff;

        &:hover {
          color: $orange-primary;
        }
      }

      .link-name-container {
        color: #fff;
      }
    }
  }

  .nav-menu {
    background-color: $nav-bg-dark-primary-color;
  }
}
