.gff-nav {
  background-color: $nav-bg-primary-color;

  ul {

    li {

      a {
        color: $nav-link-primary-color;

        &:hover {
          color: $orange-primary;
        }
      }
    }
  }
}
