html, body, main {
  min-width: 768px;
  width: 100%;
  height: 100%;
}

main {
  display: table;
  z-index: 1;
  background: #fff;
}

hr {

  &.landing-bar {
    width: 100px;
    border-top: 2px solid $orange-primary;
  }
}

.page-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 45px;

  display: table;
  position: relative;
}

.t-block {
  position: absolute;
  bottom: 3px;
  z-index: 0;

  height: 27px;
  width: 7px;
  border-radius: 2px;

  transition: all 0.2s ease;
}

[class*="col-md"] {
  transition: all 0.2s ease;
}
