.dashboard-content {
  color: $font-color-light;

  .handicap-container,
  .leaderboard-container,
  .recent-game-container {
    padding: 0;

    .title {
      padding: 5px 20px;

      display: inline-block;
      position: absolute;
      top: -15px;
      left: 30px;

      color: $font-color-light;
      background: $panel-bg-color-dark-primary;
    }
  }

  .handicap-container {
    padding: 0 15px;

    .handicap-content {
      padding-left: 0;
      padding-top: 10px;
      background: #fff;
      box-shadow: $box-shadow;
    }

    .score-box {
      display: inline-block;
      width: 100%;
      padding: 15px;
      border-radius: 2px;

      color: $font-color-dark;
      text-align: center;

      h3 {
        margin: 0;
        font-size: 60px;
      }
    }
  }

  .leaderboard-container {
    padding: 0 15px;

    .leaderboard-content {
      padding: 30px;
      background: #fff;
      box-shadow: $box-shadow;
    }

    .leaderboard-list {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: table;
        width: 100%;
        margin-bottom: 5px;
        border-radius: 2px;
        color: $font-color-dark;
        border: 1px solid $border-color-light;

        p {
          margin: 0;
        }

        .position-box,
        .name-box,
        .handicap-box {
          display: table-cell;
          padding: 10px;
          text-align: center;
        }

        .position-box {
          width: 50px;
          border-right: 1px solid $border-color-light;
        }

        .name-box {
          border-right: 1px solid $border-color-light;
          text-align: left;
        }

        .handicap-box {
          width: 60px;
        }
      }
    }
  }
}
