.dashboard-content {
  color: $font-color-light;

  .handicap-container,
  .leaderboard-container,
  .recent-game-container {
    padding: 0;

    .title {
      display: inline-block;
      width: 100%;
      color: $font-color-dark;
    }
  }

  .handicap-container {

    .handicap-content {
      padding-left: 0;
    }

    .score-box {
      display: inline-block;
      width: 100%;
      padding: 15px;
      border-radius: 2px;
      background: $panel-bg-color-dark;
      text-align: center;

      h3 {
        margin: 0;
      }
    }
  }

  .leaderboard-container {

    .leaderboard-list {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: table;
        width: 100%;
        margin-bottom: 5px;
        border-radius: 2px;
        background: $panel-bg-color-dark;

        p {
          margin: 0;
        }

        .position-box,
        .name-box,
        .handicap-box {
          display: table-cell;
          padding: 10px;
          text-align: center;
        }

        .position-box {
          width: 50px;
          border-right: 1px solid $border-color-light;
        }

        .name-box {
          border-right: 1px solid $border-color-light;
          text-align: left;
        }

        .handicap-box {
          width: 60px;
        }
      }
    }
  }
}
