friends {
  display: flex;
  width: 100%;
}

.friends-table {
  width: 100%;
  border-spacing: 25px;
  border-collapse: separate;

  p {
    margin: 0;
  }

  th {
    color: $color-blue;
    font-weight: 400;

    &.profile-pic-header {
      width: 100px;
    }

    &.handicap-header {
      text-align: center;
    }
  }

  td {

    .profile-pic {
      @include flex(center, center, col);
      width: 75px;
      height: 75px;
      background: #f1f1f1;
      font-size: 50px;
      border-radius: 2px;
    }

    &.name,
    &.handicap,
    &.stats {

      p {
        font-weight: 400;
      }
    }

    &.handicap {
      text-align: center;
    }

    &.stats {

      .stats-content {

        p {
          margin-bottom: 7px;
        }

        span {
          margin-right: 5px;
        }
      }
    }
  }
}
