.landing-container {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  .splash-image {
    display: inline-block;
    width: 300px;
    background-size: cover;
    background-position: center;
  }

  .landing-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;

    .title-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .text-container {
      display: inherit;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 320px;
      margin-left: 30px;

      .title {
        margin: 5px;
        // margin-bottom: 3px;
        display: inline-block;

        color: $font-color-dark;
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
      }

      .description {
        margin: 0;
        color: $font-color-dark;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
}

.buttons-container {
  margin-top: 12px;

  .divider {
    margin: 0 25px;
    font-size: 16px;
    font-weight: 200;
    color: $font-color-dark;
  }

  .gff-link {
    font-size: 14px;
  }

  .gff-btn {
    margin-right: 10px;
    margin-left: 10px;
  }
}
