.landing-container {

  &.main {
    height: 100vh;
    max-height: 750px;
    padding: 30px;
    padding-top: 0;

    .landing-content {
      @include flex(center, center, col);
      position: relative;
      width: 100%;
      max-width: 900px;
      height: 100%;
      margin: 0 auto;

      .header {
        @include flex(space-between, center, row);
        position: absolute;
        top: 30px;
        width: 100%;

        .logo-container {
          position: relative;
          left: -10px;
        }
      }

      .intro {
        width: 280px;
        margin: 0;
        font-size: 16px;
        font-weight: 300;
      }
    }
  } //main

  &.alt {
    background: #f2f7fa;

    .landing-content {
      @include flex(center, center, col);
      padding: 60px;

      .body {
        @include flex(center, flex-start, col);
      }

      .title-container {
        width: 100%;
        margin-bottom: 45px;
        text-align: center;

        .title {
          width: 100%;
        }

        .intro {
          width: 100%;
        }
      }
    }
  } //alt

  .body {
    @include flex(space-around, center, row);
    width: 100%;
    max-width: 1200px;

    .title-container {
      @include flex(flex-start, center, col);
      width: 300px;
      color: $color-font-gray;

      .title {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 10px;
      }
    }

    .image-container {
      display: inline-block;
      width: 350px;
    }

    .buttons-container {
      margin-top: 30px;

      .gff-btn {

        &:first-of-type {
          margin-right: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {

  .landing-container {

    &.alt {

      .landing-content {

        .title-container {
          margin-bottom: 30px;
        }
      }
    }
  }
}
