games-widget {

  .game-box {
    background-color: #1f1f1f;
    // border: 1px solid #1f1f1f;

    &:hover {
      background: rgba(31, 31, 31, 0.8);
      // color: #1f1f1f;
      cursor: pointer;
    }

    h3 {
      color: $green-primary;
    }

    p {

      span {
        color: $green-primary;
      }
    }
  }
}
