games-widget {

  .game-box {
    // background-color: #ecf1f7;
    background-color: #1f1f1f;
    border: 1px solid #1f1f1f;
    // transition: all 0.2s ease;

    &:hover {
      // background-color: rgba(31, 31, 31, 0.8);
      // background-color: #445264;
      background: #fff;
      // background-color: rgba(155, 155, 155, 0.8);
      color: #1f1f1f;
      cursor: pointer;
      // transition: all 0.2s ease;
    }

    h3 {
      color: $orange-primary;
    }

    p {

      span {
        color: $orange-primary;
      }
    }
  }
}
