<h2>Create a Game</h2>
<p>Please enter game information below.</p>
<form class="new-game-form" id="new-game-form" name="new-game-form" ng-submit="cgc.createGame(cgc.game)">
  <div class="create-game-container">
    <div class="course-container">
      <p class="input-title">Course Played</p>
      <div class="gff-select course">
        <select ng-model="cgc.game.name">
          <option value="The Golf Club at Echo Falls">The Golf Club at Echo Falls</option>
          <option value="Harbour Pointe Golf Club">Harbour Pointe Golf Club</option>
          <option value="The Golf Club at Hawks Prairie">The Golf Club at Hawks Prairie</option>
          <option value="Kayak Point Golf Course">Kayak Point Golf Course</option>
          <option value="Mount Si Golf Course">Mount Si Golf Course</option>
          <option value="Newcastle GC - China Creek">Newcastle GC - China Creek</option>
          <option value="Newcastle GC - Coal Creek">Newcastle GC - Coal Creek</option>
          <option value="The Golf Club at Redmond Ridge">Redmond Ridge</option>
          <option value="Trophy Lake Golf and Casting">Trophy Lake Golf and Casting</option>
          <option value="Washington National Golf Club">Washington National Golf Club</option>
        </select>
      </div>
    </div>
    <div class="location-container">
      <p class="input-title">City, State</p>
      <input type="text" required ng-model="cgc.game.location" placeholder="Seattle, WA"></input>
    </div>
    <div class="date-container">
      <p class="input-title">Date Played</p>
      <input type="date" required ng-model="cgc.game.datePlayed"></input>
    </div>
    <div class="players-container">
      <p class="input-title">Players</p>
      <ul class="player-list">
        <li class="player-box" ng-repeat="player in cgc.players" ng-init="player.strokes=0">
          <div class="title-box">
            <p>{{player.fullName}}</p>
          </div>
          <div class="edit-box">
            <p><strong><span class="color-green">+</span></strong></p>
            <input type="text" required ng-model="player.strokes" placeholder="{{player.strokes}}" maxlength="2"></input>
          </div>
          <a class="remove-box" ng-click="cgc.removeUser(player)">
            <i class="fa fa-minus-circle"></i>
          </a>
        </li>
      </ul>
      <div class="add-players-container">
        <p class="input-title">Add More Players</p>
        <ul class="player-list">
          <li class="player-box" ng-repeat="friend in cgc.friendsData.friends">
            <div class="title-box">
              <p>{{friend.fullName}}</p>
            </div>
            <a class="add-box" ng-click="cgc.addUser(friend)">
              <i class="fa fa-plus"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <button class="gff-btn dark" type="submit">Submit</button>
  <button class="gff-btn dark" type="reset" ng-click="cgc.creating=false">Cancel</button>
</form>
