.title-container {

  .title-content {

    .title {
      background-color: #222;
      color: $font-color-light;
    }
  }
}

.about-section {
  background-color: #fff;
}


.subcontent-container {
  padding: 60px 0px;

  p {
    font-size: 16px;
    line-height: 26px;
  }

  &.bg-img-one {
    width: 100%;
    background-image: url('http://localhost:3000/imgs/golf-green-edge-ball.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    .title-bg-overlay {
      position: absolute;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: rgba(52, 62, 71, 1.0);
      opacity: 0.3;
    }
  }
}

//about section
.about-section {

  h2 {
    color: $green-primary;
    text-align: center;
  }

  p {
    width: 80%;
    margin: 0 auto;
  }
}
//end of about section

//features section
.features-section {
  display: table;
  width: 100%;
  margin: 0 auto;
  background-color: $bg-dark-primary;

  h2 {
    color: #fff;
    text-align: center;
  }

  .feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 60px;

    i {
      margin-bottom: 15px;
      font-size: 46px;
      color: #fff;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.2);
        transition: transform 0.2s ease;
      }
    }

    h4 {
      margin-bottom: 5px;
      color: $orange-primary;
      text-align: center;
    }

    p {
      color: #fff;
    }
  }
}
//end of features section
