.title-container {

  .title-content {

    .title {
      background-color: #222;
      color: $font-color-light;
    }
  }
}


.subcontent-container {
  padding: 60px 0px;

  h2 {
    text-align: center;
  }

  p {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 26px;
  }
}

.about-section {
  background-color: $bg-color-light;
}

.features-section {
  background-color: $bg-color-dark;

  h2 {
    color: $font-color-light;
  }

  .feature-container {
    margin-bottom: 30px;
    padding: 0 60px;
    text-align: center;
    color: $font-color-light;

    i {
      margin-bottom: 15px;
      font-size: 46px;
    }

    h4 {
      margin-bottom: 5px;
      color: $orange-primary;
    }

    p {
      text-align: left;
    }
  }
}
