<div class="title-box">
  <p>{{cgc.player.fullName}}</p>
</div>
<div class="strokes-box" ng-hide="cgc.editing">
  <p><strong><span class="color-green">+</span></strong>{{cgc.player.strokes}}</p>
</div>
<div class="edit-box" ng-hide="cgc.editing">
  <a ng-click="cgc.editing=true"><i class="fas fa-edit"></i></a>
</div>
<div class="edit-box" ng-show="cgc.editing">
  <input type="text" required ng-model="cgc.player.strokes" placeholder="{{cgc.player.strokes}}" maxlength="2"></input>
  <a ng-click="cgc.editing=false"><i class="fas fa-save"></i></a>
</div>
<a class="remove-box" ng-click="cgc.removeUser(cgc.player)">
  <i class="fa fa-minus-circle"></i>
</a>
