<!DOCTYPE html>
<html ng-app="golfApp">
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/bundle.css">
  <script src="/javascripts/bundle.js"></script>
</head>

<body>
  <main ng-view></main>
  {{{body}}}
</body>

</html>
