games-widget {
  display: flex;
  justify-content: space-around;

  .game-box {
    display: table-cell;
    width: 25%;
    margin: 0 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);

      &:hover {
        cursor: pointer;
      }

    p {

      span {
        position: relative;
        top: -5px;
        font-size: 9px;
        font-weight: bold;
      }
    }

    .game-box-left, .game-box-right {
      display: table-cell;
      vertical-align: middle;
      padding: 15px;
    }

    .game-box-right {
      text-align: center;

      p {
        margin: 0;
      }
    }
  }
}
