<div class="page-container">
  <h2>friends list</h2>
  <ul>
    <li ng-repeat="friend in friendsData.friends">
      <h3>{{friend.fullName}}</h3>
    </li>
  </ul>

  <h2>add more friends</h2>
  <div class="search-container">
    <form autocomplete="off">
      <input id="search-input-users" type="text" placeholder="Search By Email"></input>
      <ul>
        <li ng-repeat="user in searchResults">
          <p>{{user.fullName}} <span ng-show="user.isFriend">- Already friends.</p>
          <button class="gff-btn" ng-hide="user.isFriend" ng-click="fc.addFriend(user._id); user.isFriend=true;">Add to Friends</button>
        </li>
      </ul>
    </form>
  </div>

</div>
