<div class="sub-nav-content" ng-show="snc.pageTitle=='DASHBOARD'">
  <h2 class="title">{{snc.pageTitle}}</h2>
  <a href="/#!/dashboard#profile" class="sub-nav-link" scroll-target="profile"><i class="far fa-user"></i>Profile</a>
  <a href="/#!/dashboard#recent-games" class="sub-nav-link" scroll-target="recent-games"><i class="far fa-calendar-alt"></i>Recent Games</a>
  <a href="/#!/dashboard#leaderboard" class="sub-nav-link" scroll-target="leaderboard"><i class="far fa-list-alt"></i>Leaderboard</a>
  <a href="/#!/dashboard#progress" class="sub-nav-link" scroll-target="progress"><i class="fas fa-chart-line"></i>Progress</a>
  <sn-games ng-if="snc.pageTitle==='Games'" data-creating-game="snc.creatingGame"></sn-games>
</div>

<div class="sub-nav-content" ng-show="snc.pageTitle=='FRIENDS'">
  <h2 class="title">{{snc.pageTitle}}</h2>
</div>

<div class="sub-nav-content" ng-show="snc.pageTitle=='GAMES'">
  <h2 class="title">{{snc.pageTitle}}</h2>
  <a class="sub-nav-link" ng-click="snc.creatingGame=false; snc.resetForm('new-game-form')"><i class="fas fa-list"></i>Game List</a>
  <a class="sub-nav-link" ng-click="snc.creatingGame=true"><i class="far fa-file"></i>Create Game</a>
</div>

<div class="sub-nav-content" ng-show="snc.pageTitle=='SETTINGS'">
  <h2 class="title">{{snc.pageTitle}}</h2>
</div>
