<div class="sub-nav-content" ng-show="snc.pageTitle=='DASHBOARD'">
  <h2 class="title">{{snc.pageTitle}}</h2>
</div>

<div class="sub-nav-content" ng-show="snc.pageTitle=='FRIENDS'">
  <h2 class="title">{{snc.pageTitle}}</h2>
  <div class="links-container">
    <h3 class="title sub">ADD A FRIEND</h3>
    <add-friend></add-friend>
  </div>
</div>

<div class="sub-nav-content" ng-show="snc.pageTitle=='GAMES'">
  <h2 class="title">{{snc.pageTitle}}</h2>
  <div class="links-container">
    <a class="sub-nav-link" href="/#!/games"><i class="fas fa-calendar-alt"></i>Game List</a>
    <a class="sub-nav-link" href="/#!/games/create"><i class="fas fa-calendar-plus"></i>Create Game</a>
  </div>
</div>

<div class="sub-nav-content" ng-show="snc.pageTitle=='SETTINGS'">
  <h2 class="title">{{snc.pageTitle}}</h2>
  <div class="links-container">
  </div>
</div>
