<div class="sub-nav-content" ng-show="snc.pageTitle=='DASHBOARD'">
  <h2 class="title">{{snc.pageTitle}}</h2>
  <a><i class="far fa-user"></i>Profile</a>
  <a><i class="far fa-calendar-alt"></i>Recent Games</a>
  <a><i class="far fa-list-alt"></i>Leaderboard</a>
  <a><i class="fas fa-chart-line"></i>Progress</a>
  <sn-games ng-if="snc.pageTitle==='Games'" data-creating-game="snc.creatingGame"></sn-games>
</div>

<div class="sub-nav-content" ng-show="snc.pageTitle=='FRIENDS'">
  <h2 class="title">{{snc.pageTitle}}</h2>
</div>

<div class="sub-nav-content" ng-show="snc.pageTitle=='GAMES'">
  <h2 class="title">{{snc.pageTitle}}</h2>
  <a ng-click="snc.creatingGame=false">Game List</a>
  <a ng-click="snc.creatingGame=true">Create Game</a>
</div>

<div class="sub-nav-content" ng-show="snc.pageTitle=='SETTINGS'">
  <h2 class="title">{{snc.pageTitle}}</h2>
</div>
