auth {
  height: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  .form-container {
    padding: 30px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    color: $font-color-light;
    text-align: center;

    .input-container {
      width: 100%;
      min-width: 235px;
      margin-bottom: 1px;
      display: table;

      .icon-box {
        width: 50px;
        display: table-cell;
        background: $orange-opaque;

        i {
          color: $font-color-light;
          font-size: 18px;
        }
      }

      input {
        width: 100%;
        padding: 15px;
        border: none;
        border-radius: 0;

        background-color: rgba(0, 0, 0, 0.7);
        color: $font-color-light;
        outline: none;

        &:hover {
          background-color: rgba(0, 0, 0, 0.8);
        }

        &:focus {
          background-color: rgba(0, 0, 0, 0.9);
          color: $orange-primary;
        }
      }

      &.first {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;

        .icon-box {
          border-top-left-radius: 2px;
        }

        input {
          border-top-right-radius: 2px;
        }
      }

      &.last {
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;

        .icon-box {
          border-bottom-left-radius: 2px;
        }

        input {
          border-bottom-right-radius: 2px;
        }
      }
    }
  }
}
