auth {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  .gff-btn {
    margin: 15px 0;
  }

  .form-container {
    color: $font-color-dark;
    text-align: center;

    .input-container {
      display: table;
      width: 100%;
      min-width: 230px;
      margin-bottom: 10px;

      .input-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #c1c1c1;

        i {
          margin-right: 5px;
          font-size: 16px;
        }

        p {
          font-size: 12px;
          margin: 0;
        }
      }

      input {
        width: 100%;
        height: 30px;
        padding: 5px;
        padding-top: 8px;
        // padding-bottom: 8px;
        border: none;
        border-bottom: 1px solid #d1d1d1;
        border-radius: 0;
        color: $font-color-dark;
        outline: none;

        &:hover {
          border-color: #a1a1a1;
        }

        &:focus {
          color: $font-color-dark;
          border-color: $orange-primary;
        }
      }
    }
  }
}
