.gff-input {
  width: 100%;
  height: 30px;
  padding: 16px 10px;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  outline: none;
  color: $color-blue;

  &:hover {
    border-color: $color-orange;
  }

  &:active, &:focus {
    border-color: $color-blue-hover;
  }
}

.gff-select {
  border: 1px solid $border-color-light;
  border-radius: 2px;
  background: $panel-bg-color-light;

  &:hover {
    border-color: $orange-opaque;
  }

  select {
    width: 100%;
    height: 40px;
    padding: 20px;
    border: none;
    background: none;

    &:active {
      outline: none;
    }

    &:focus {
      outline-color: $orange-opaque;
    }
  }
}

.search-container {
  position: relative;

  input {
    width: 100%;
  }
}
