auth {
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .gff-btn {
    margin: 15px 0;
  }
}

.auth-container {
  width: 100%;
}

.form-container {
  color: $font-color-dark;
  text-align: center;
}

.input-container {
  width: 100%;
  margin-bottom: 10px;

  .input-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 2px 2px;
    color: $font-color-dark;

    i {
      margin-right: 5px;
      font-size: 16px;
    }

    p {
      font-size: 12px;
      margin: 0;
    }
  }
}
