<form name="register" data-ng-submit="$ctrl.signup($ctrl.user)">
  <div class="input-container">
    <i class="fa fa-tag" aria-hidden="true"></i>
    <input type="text" required placeholder="Username" data-ng-model="$ctrl.user.username"></input>
  </div>
  <div class="input-container">
    <i class="fa fa-user" aria-hidden="true"></i>
    <input type="text" required placeholder="Full Name (First &amp; Last)" data-ng-model="$ctrl.user.fullName"></input>
  </div>
  <div class="input-container">
    <i class="fa fa-envelope" aria-hidden="true"></i>
    <input type="text" required placeholder="Email" data-ng-model="$ctrl.user.email"></input>
  </div>
  <div class="input-container">
    <i class="fa fa-lock gff-last" aria-hidden="true"></i>
    <input class="gff-last" type="password" required placeholder="Password" data-ng-model="$ctrl.user.password"></input>
  </div>
  <button type="submit">SIGNUP</button>
</form>

<p>Already have an account? <a href="/#!/signin">Click Here</a></p>
