<div class="page-container">

  <div class="banner-container col-md-5 col-xs-6 pull-left">
    <div class="banner-image"></div>
  </div>

  <div class="gff-container col-md-7 col-xs-6 pull-right">
    <div class="gff-content col-xs-12">

      <div class="gff-box stats bg-white col-xs-12">
        <div class="box-content">
          <div class="score-box">
            <p>Handicap</p>
            <h3><span class="color-green">+</span>{{dc.userStats.handicap}}</h3>
          </div>
        </div>
      </div>
      <div class="gff-box stats bg-white col-xs-12">
        <div class="box-content gff-row">
          <div class="score-box">
            <p>Wins</p>
            <h3>{{dc.userStats.wins}}</h3>
          </div>
          <div class="score-box">
            <p>Losses</p>
            <h3>{{dc.userStats.losses}}</h3>
          </div>
          <div class="score-box">
            <p>Ties</p>
            <h3>{{dc.userStats.ties}}</h3>
          </div>
        </div>
        <div class="box-content">
          <game-chart data-chart-name="'win'"></game-chart>
        </div>
      </div>
      <div class="gff-box stats bg-white col-xs-12">
        <div class="box-content">
          <div class="score-box">
            <p>Games Played</p>
            <h3>{{dc.gamesPlayed}}</h3>
          </div>
          <div>
            <game-chart data-chart-name="'game'"></game-chart>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="gff-container col-md-5 col-xs-6 pull-left">
    <div class="gff-content bg-white col-xs-12">
      <div class="title">
        <h4>LEADERBOARD</h4>
      </div>
      <ul class="leaderboard-list col-xs-12">
        <li ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="friend in dc.leaderboardArray track by $index|limitTo:3">
          <div class="box small">
            <p>{{$index + 1}}</p>
          </div>
          <div class="box full">
            <p>{{friend.fullName}}</p>
          </div>
          <div class="box small">
            <p><span class="color-green">+</span>{{friend.stats.handicap}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="gff-container col-md-5 col-xs-6 pull-right">
    <div class="gff-content bg-dark col-xs-12">
      <div class="title">
        <h4>LEADERBOARD</h4>
      </div>
      <ul class="leaderboard-list col-xs-12">
        <li ng-repeat="friend in dc.leaderboardArray track by $index|limitTo:3">
          <div class="box small">
            <p>{{$index + 1}}</p>
          </div>
          <div class="box full">
            <p>{{friend.fullName}}</p>
          </div>
          <div class="box small">
            <p><span class="color-green">+</span>{{friend.stats.handicap}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
