<nav-bar></nav-bar>
<title-header></title-header>

<div class="dashboard-main">

  <div class="dashboard-content">
    <div class="dash-widget-container">
      <div class="widget-panel">
        <div class="widget-body">
          <h4>VIEW MY STATS</h4><i class="fa fa-pie-chart"></i>
          <p>Take a look at how you've been doing. Hopefully better than worse.</p>
        </div>
        <div class="widget-base"></div>
      </div>
    </div>

    <div class="dash-widget-container">
      <div class="widget-panel">
        <div class="widget-body">
          <h4>FRIENDS</h4><i class="fa fa-users"></i>
          <p>Let's find out how you're stacking up against your friends.</p>
        </div>
        <div class="widget-base"></div>
      </div>
    </div>

    <div class="dash-widget-container">
      <div class="widget-panel">
        <div class="widget-body">
          <h4>GAMES</h4><i class="fa fa-server"></i>
          <p>Check out recent or older games that have been played.</p>
        </div>
        <div class="widget-base"></div>
      </div>
    </div>

    <div class="dash-widget-container">
      <div class="widget-panel">
        <div class="widget-body">
          <h4>COURSES</h4><i class="fa fa-fort-awesome"></i>
          <p>Add, edit, or explore available courses to play.</p>
        </div>
        <div class="widget-base"></div>
      </div>
    </div>

    <div class="dash-widget-container">
      <div class="widget-panel">
        <div class="widget-body">
          <h4>SETTINGS</h4><i class="fa fa-cogs"></i>
          <p>Modify your account preferences or information.</p>
        </div>
        <div class="widget-base"></div>
      </div>
    </div>

  </div>
</div>
