//colors
.color-blue {
  color: $color-blue;
}

.color-orange {
  color: $color-orange;
}

.color-orange-secondary {
  color: $orange-secondary;
}

.color-green {
  color: $green-secondary;
}

.color-white {
  color: $font-color-light;
}

//background colors
.bg-white {
  background: #fff;
  color: #4b4e54;
  transition: all 0.2s ease;
}

.bg-dark {
  background: #4b4e54;
  color: #fff;
  transition: all 0.2s ease;
}

.bg-lt-gray {
  background: #f7f7f7 !important;
}

.bg-none {
  background: none !important;
}


//font
.weight-normal {
  font-weight: 300;
}

.container-title {

  &.sm {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
}


//misc properties
.shadow {
  position: relative;
  background: none;
  color: $font-color-dark;
  box-shadow: 10px 8px 8px rgba(211, 224, 235, 0.5), 0 0 0 0px rgba(211, 224, 235, 0.5);
  transition: box-shadow 0.2s ease;

  // &:hover {
  //   box-shadow: 0 3px 8px 0 rgba(211, 224, 235, 0.5), 0 0 0 0px rgba(211, 224, 235, 0.5);
  //   transition: box-shadow 0.2s ease;
  // }

  &:active {
    transition: box-shadow 0s ease;
    box-shadow: 0 2px 2px 0 $orange-primary, 0 0 0 1px $orange-primary;
  }
}

//layout
.gff-row {
  display: flex;
  flex-direction: row !important;
}
