//colors
.color-blue {
  color: $color-blue;
}

.color-orange {
  color: $color-orange;
}

.color-orange-secondary {
  color: $orange-secondary;
}

.color-green {
  color: $green-secondary;
}

.color-white {
  color: $font-color-light;
}

//background colors
.bg-white {
  background: #fff;
  color: #4b4e54;
  transition: all 0.2s ease;
}

.bg-dark {
  background: #4b4e54;
  color: #fff;
  transition: all 0.2s ease;
}

.bg-lt-gray {
  background: #f7f7f7 !important;
}

.bg-none {
  background: none !important;
}


//font
.weight-normal {
  font-weight: 300;
}

.container-title {

  &.sm {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
}


//misc properties
.shadow-sm {
  box-shadow: 1px 1px 4px rgba(211, 224, 235, 0.8);
}

.shadow-lg {
  box-shadow: 10px 8px 8px rgba(211, 224, 235, 0.5), 0 0 0 0px rgba(211, 224, 235, 0.5);
}

//layout
.gff-row {
  display: flex;
  flex-direction: row !important;
}

hr {
  width: 100%;

  &.lg {
    width: 95%;
  }

  &.sm {
    margin: 5px 0;
  }
}
