//general colors
$green-primary: #48a332;
$green-light: #87ff69;
$green-opaque: rgba(83, 185, 58, 0.8);
$light-blue-primary: #2dbfe9;
$light-blue-secondary: #5adaff;
$orange-primary: #feac00;
$orange-light-opaque: rgba(254, 172, 0, 0.8);
$orange-opaque: rgba(254, 172, 0, 0.5);
$white-light-opaque: rgba(255, 255, 255, 0.9);

//backgrounds
$bg-primary-color: #555;
$bg-dark-primary: #1f1f1f;

//fonts
$font-color-light: #fff;
$font-color-dark: #525252;

//links
$link-primary-color: $light-blue-primary;
$link-secondary-color: $light-blue-secondary;
$link-tertiary-color: $orange-light-opaque;

//nav
$nav-bg-primary-color: #fff;
$nav-bg-dark-primary-color: $bg-dark-primary;
$nav-link-primary-color: #525252;
$nav-link-hover-primary-color: $green-primary;

//panels
$panel-bg-dark-primary: rgba(54, 57, 65, 0.8);
$panel-bg-dark-opaque: rgba(54, 57, 65, 0.8);
$panel-bg-white: #eee;
$panel-bg-white-opaque: rgba(255, 255, 255, 0.8);

//misc
$header-color-orange: $orange-light-opaque;

//buttons
$button-primary-bg: $orange-light-opaque;
$button-primary-bg-hover: rgba(0, 0, 0, 0.5);

//borders
$border-invis: rgba(0, 0, 0, 0.0);

//sizes
$col-one: 8.333%;
