// $green-primary: #4ea13a;
$green-primary: #53b93a;
$light-blue-primary: #2dbfe9;
$orange-primary: rgba(254, 172, 0, 0.8);
$orange-opaque: rgba(254, 172, 0, 0.5);

$link-primary-color: $light-blue-primary;

$header-color-orange: $orange-primary;

$button-primary-bg: rgba(0, 0, 0, 0.5);
$button-primary-bg-hover: $orange-opaque;
