//general colors
$green-primary: #4dbb33;
$green-opaque: rgba(77, 187, 51, 0.8);
$green-light: #6dde52;
$green-light-alt: #abeb9c;
$green-secondary: #03ceb1;

$color-blue: #329af0;
$color-blue-hover: #63b5f7;
$color-blue-dark: #4e5464;
$color-green: #03ceb1;
$color-orange: #ffb824;
$color-red: #dc1616;
$color-red-opaque: rgba(220, 22, 22, 0.7);

$color-font-white: #fff;
$color-font-dark: #4e5464;
$color-font-gray: #616161;
$color-font-lt-gray: #a3adb7;

$color-bg-dark: #363f49;

$color-opaque: rgba(0, 0, 0, 0);

$orange-primary: #ffb824;
$orange-opaque: rgba(254, 172, 0, 0.8);
$orange-opaque-dbl: rgba(254, 172, 0, 0.3);
$orange-secondary: #ffc03d;

//backgrounds
$bg-color-light: #fff;
$bg-color-dark: #1f1f1f;
$bg-color-dark-opaque: rgba(0, 0, 0, 0.8);

//fonts
$font-color-light: #fff;
$font-color-semi-light: #d1d1d1;
$font-color-gray: #aaa;
$font-color-dark: #4b4e54;

//panels
$panel-bg-color-light: #fff;
$panel-bg-color-dark-primary: #333;
$panel-bg-color-dark-gray: #4b4e54;
$panel-bg-color-dark-opaque: rgba(75, 78, 84, 0.8);

//borders
$border-color-light: #f1f1f1;
$border-color-semi-dark: #c5c5c5;
$border-color-dark: #5f646d;
$border-invis: rgba(0, 0, 0, 0);

//shadows
$box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
$color-shadow-green: #d1fff8;
