<nav class="gff-nav default shadow-lg">
  <div class="title-container">
    <logo></logo>
    <h4 class="title">GOLF FOR<span class="color-blue">e</span> FRIENDS</h4>
  </div>

  <div class="hamburger-menu-icon" id="hamburger-menu-icon">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="nav-menu" id="nav-menu">
    <ul class="nav-link-list">
      <li id="dashboard-link">
        <a href="/#!/dashboard" data-title="Dashboard"><i class="fas fa-address-card"></i></a>
      </li>
      <li id="friends-link">
        <a href="/#!/friends" data-title="Friends"><i class="fas fa-users"></i></a>
      </li>
      <li id="games-link">
        <a href="/#!/games" data-title="Games"><i class="fas fa-calendar-alt"></i></a>
      </li>
      <!-- <li>
        <a href="/#!/settings"><i class="fas fa-cog fa-lg"></i></a>
      </li> -->
      <li>
        <a ng-click="nc.signout()" data-title="Signout"><i class="fas fa-sign-out-alt"></i></a>
      </li>
    </ul>
  </div>
</nav>
