<nav class="gff-nav">
  <div class="nav-container">

    <title-header></title-header>

    <ul>
      <li>
        <div class="nav-tab">
          <a><i class="fa fa-home"></i><p>Dashboard</p></a>
        </div>
      </li>

      <li>
        <div class="nav-tab">
          <a><i class="fa fa-pie-chart"></i><p>Stats</p></a>
        </div>
      </li>

      <li>
        <div class="nav-tab">
          <a><i class="fa fa-users"></i><p>Friends</p></a>
        </div>
      </li>

      <li>
        <div class="nav-tab">
          <a><i class="fa fa-fort-awesome"></i><p>Games</p></a>
        </div>
      </li>

      <li>
        <div class="nav-tab">
          <a><i class="fa fa-server"></i><p>Courses</p></a>
        </div>
      </li>

      <li>
        <div class="nav-tab">
          <a><i class="fa fa-cogs"></i><p>Settings</p></a>
        </div>
      </li>

      <li>
        <div class="nav-tab">
          <a ng-click="nc.signout();"><i class="fa fa-sign-out"></i><p>Signout</p></a>
        </div>
      </li>

    </ul>
  </div>
</nav>
