// face
h1, h2, h3, h4, h5, h6, a, p, input, button {
  font-family: 'Libre Franklin', sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
  font-weight: 600;
}

p, a, button, input {
  font-weight: 400;
}

// size
h1 {
  font-size: 48px;
  line-height: 48px;
}

h2 {
  font-size: 42px;
  line-height: 42px;
}

// color
main {
  color: $font-color-dark;
}

a {
  color: $link-color-primary;

  &:hover, &:active, &:focus, &:visited {
    color: $link-color-primary;
    text-decoration: none;
  }
}
