<form name="signup" data-ng-submit="ac.signup(ac.user)">
  <div class="input-container">
    <div class="input-title">
      <i class="far fa-envelope fa-sm" aria-hidden="true"></i><p>Email</p>
    </div>
    <input class="gff-input" type="text" required data-ng-model="ac.user.email"></input>
  </div>

  <div class="input-container">
    <div class="input-title">
      <i class="far fa-user fa-sm" aria-hidden="true"></i><p>Username</p>
    </div>
    <input class="gff-input" type="text" required data-ng-model="ac.user.username"></input>
  </div>

  <div class="input-container">
    <div class="input-title">
      <i class="far fa-address-card fa-sm" aria-hidden="true"></i><p>Full Name (First &amp; Last)</p>
    </div>
    <input class="gff-input" type="text" required data-ng-model="ac.user.fullName"></input>
  </div>

  <div class="input-container last">
    <div class="input-title">
      <i class="fas fa-lock fa-sm" aria-hidden="true"></i><p>Password</p>
    </div>
    <input class="gff-input" type="password" required data-ng-model="ac.user.password"></input>
  </div>

  <button class="gff-btn" type="submit" name="signup-btn">SIGNUP</button>
</form>
