.banner-container {
  height: 280px;
  padding-bottom: 7.5px;

  .banner-content {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
  }

  .banner-image {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    background-image: url('http://localhost:3000/imgs/golf-ball-sunset-bw-40.jpg');
    background-size: cover;
    background-position: center;
  }
}
