/* ----- headers ----- */
h1, h2, h3, h4, h5 {
  margin: 0;
}

/* ----- links ----- */
a {
  cursor: pointer;
  font-weight: 400;
  transition: color 0.2s ease;

  &:hover {
    color: $orange-primary;
    transition: color 0.2s ease;
  }
}

// /* ----- misc ----- */
// span {
//
//   &.color-green {
//     color: $green-primary;
//   }
//
//   &.color-white {
//     color: #fff;
//   }
//
//   &.color-orange {
//     color: $orange-primary;
//   }
// }
