span {

  &.color-green {
    color: $green-primary;
  }

  &.color-white {
    color: #fff;
  }

  &.color-orange {
    color: $orange-primary;
  }
}

.t-block {

  &.green {
    background: $green-primary;
  }

  &.orange {
    background: $orange-primary;
  }
}
