.gff-btn {
  margin: 15px 0;
  padding: 0;
  border: 2px solid $orange-primary;

  background: $orange-primary;
  color: $font-color-light;
  font-size: 20px;

  &:focus {
    outline: none;
  }

  &.ghost {
    background: none;
    color: $font-color-light;
    border-color: $orange-primary;

    &.default {

      &:hover {
        background: $orange-primary;
      }

      &:focus {
        outline: none;
      }
    }

    &.fill {
      background: $orange-opaque-dbl;

      .btn-content {
        display: flex;
        align-items: center;
        position: relative;

        .gff-fill {
          width: 40px;
          height: 100%;

          position: absolute;
          display: inherit;
          align-items: center;
          justify-content: flex-start;

          background: $orange-primary;
          transition: all 0.3s ease;

          .gff-icon {
            padding-left: 12px;
            font-size: 18px;
          }

          .fa-caret-right {
            position: absolute;
            right: -5px;
            color: $orange-primary;
          }
        }

        .btn-text {
          position: relative;
          margin: 0;
          padding: 8px 30px 8px 67px;
          font-size: 20px;
          transition: all 0.3s ease;
          z-index: 1;
        }
      }

      &:hover {

        .gff-fill {
          width: 100%;
          transition: all 0.3s ease;

          .fa-caret-right {
            visibility: hidden;
          }
        }
      }
    }
  }

  &.search {
    margin: 0;
    padding: 5px 10px;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;

    &:hover {
      background: $orange-primary;
      transition: all 0.2s ease;
    }
  }
}
