.gff-btn {
  margin: 0;
  padding: 5px 25px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 2px;
  background: $color-blue;
  color: $color-font-white;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.2s ease;

  &.disabled {
    background: rgba(50, 50, 50, 0.5);
    pointer-events: none;

    .fa-check {
      color: $color-blue;
    }

    &.light {
      background: none;
    }
  }

  &.sm {
    padding: 5px 10px;
  }

  &.x-sm {
    padding: 0 5px;
    font-size: 10px;
  }

  &:hover {
    background: $color-blue-hover;
    transition: all 0.2s ease;
  }

  &:focus {
    outline: none;
  }

  &.ghost {
    background: none;
    color: $color-blue;
    border-color: $color-blue;
    transition: all 0.4s ease;

    &:hover {
      background: $color-blue-hover;
      color: $color-font-white;
      border-color: $color-opaque;
      transition: all 0.2s ease;
    }

    &:focus {
      outline: none;
    }
  }

  &.search {
    margin: 0;
    padding: 5px 10px;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;

    &:hover {
      background: $orange-primary;
      transition: all 0.2s ease;
    }
  }

  &.blue {
    background: $color-blue;
  }

  &.red {
    background: $color-red;

    &:hover {
      background: $color-red-opaque;
    }
  }

  &.dark {
    background: #4b4e54;
    color: #fff;
    transition: all 0.2s ease;

    &:hover {
      background: #727e95;
      transition: all 0.2s ease;
    }
  }
}

.player-box {

  .gff-btn {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    border-top-right-radius: 5px;
  }
}
