game-chart {
  @include flex(center, center, row);
  width: 100%;
  padding: 30px 0;
}

canvas {
  margin: 0 auto;

  &#gameChart {
    background: rgba(0, 0, 0, 0);
  }
}

.chart-container {
  width: 50%;
}

@media screen and (max-width: 900px) {

  game-chart {
    flex-direction: column;
  }

  .chart-container {
    width: 100%;
    max-width: 500px;

    &:first-of-type {
      margin-bottom: 75px;
    }
  }
}
