.page-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 45px;

  display: table;
  position: relative;
}

.gff-container {
  display: flex;
  padding: 0;
  background: #fff;

  .gff-content {
    display: flex;
  }
}

.user-container {
  display: inline-block;
  width: 200px;
  margin: 0 auto;
  margin-top: -110px;

  .user-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 5px solid #f1f1f1;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;

    i {
      font-size: 150px;
    }
  }

  .user-info {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1px 0;
      padding: 10px;
      background: #f1f1f1;

      p {
        margin: 0;
        font-size: 16px;
        font-weight: 300;
      }

      h4, h5 {
        font-weight: 400;
      }
    }

    .name {
      margin: 5px 0;
      background: none;
      justify-content: center;
    }
  }
}
