.page-container {
  @include flex(center, flex-start, row);
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 45px auto;
}

.gff-container {

  &.main {
    width: 100%;
  }

  &.right {
    width: 300px;
  }

  .page-title {
    font-size: 30px;
    font-weight: 700;
  }
}

.gff-content {
  display: table;
  width: 100%;
  padding: 15px;
  background: #fff;

  &.gff-center {
    display: flex;
    justify-content: center;
  }
}
