.leaderboard-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.2s ease;

    .player-container {
      @include flex(space-between, center, row);
      margin-bottom: 5px;

      .position {
        display: inline;
      }

      .name {
        display: inline;
        margin-left: 5px;
      }

      .handicap {
        margin: 0;
      }
    }
  }
}

.gff-progress-bar {
  position: relative;
  width: 100%;
  height: 7px;
  background: #f1f1f1;
}

.gff-progress-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background: $green-primary;
}
