.friends-list, .games-list, .recent-games-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recent-games-list {
  width: 100%;

  .recent-game {
    display: inline-block;
    width: 50%;
    border: 1px solid #f1f1f1;

    &.one {
      float: left;
      height: 300px;
    }

    &.two, &.three {
      float: right;
      height: 150px;
    }
  }
}
