.features-list {
  @include flex(space-around, flex-start, row);
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;

  .feature {
    width: 33%;

    .feature-content {
      width: 240px;
      height: 270px;
      padding: 30px 20px;
      margin: 0 auto;
      text-align: center;
    }

    .title {
      margin-bottom: 30px;
      color: $color-blue;
      font-weight: 400;
    }

    .intro {
      margin-bottom: 30px;
    }

    .icon-container {
      padding: 0;
      color: $color-blue;
    }
  }
}

.friends-list, .games-list, .recent-games-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recent-games-list {
  width: 100%;

  .recent-game {
    display: inline-block;
    float: right;
    width: 50%;
    height: 150px;
    border: 1px solid #f1f1f1;

    &:first-of-type {
      float: left;
      height: 300px;
    }
  }
}

@media screen and (max-width: 900px) {

  .features-list {
    @include flex(center, flex-start, col);

    .feature-content {
      box-shadow: none;

      .title {
        margin-bottom: 15px;
      }
    }
  }

  .recent-games-list {

    .recent-game {
      width: 100%;

      &:first-of-type {
        height: 150px;
      }
    }
  }
}
