.logo-container {
  @include flex(flex-start, center, row);
  color: $color-font-gray;

  .golfer-head, .golfer-body {
    fill: $color-blue;
  }

  .title {
    font-weight: 400;
  }
}

.gff-nav {

  .title-container {
    @include flex(flex-start, center, row);
    height: 100%;

    logo {
      @include flex(center, center, row);
      width: 45px;
      height: 60px;
      background: none;

      .golfer-head, .golfer-body {
        fill: $color-blue;
      }

      .gff-logo-full {
        width: 35px;
        height: 35px;
      }
    }

    .title {
      font-weight: 400;
    }
  }
}
