nav-bar {
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: center;
  position: fixed;
  top: 15px;
  z-index: 10;

  background: none;
  transition: height 0.2s ease;
}

.gff-nav {
  width: 97%;
  height: 100%;
  padding: 0 45px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: rgba(0, 0, 0, 0.8);
  transition: width 0.2s ease;

  .gff-logo-container {
    height: 40px;
    margin: 0;
    padding-right: 15px;
    display: flex;
    align-items: center;

    .main-title {
      padding-right: 15px;
      border-right: 1px solid $green-secondary;
      color: $font-color-light;
    }

    .page-title {
      padding-left: 15px;
      color: $font-color-light;
    }
  }

  &.landing {
    width: auto;
    height: auto;
    padding-left: 30px;

    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 30px;

    background: none;

    .gff-logo-container {
      width: auto;
      border: none;
      color: $font-color-light;
    }

    .nav-menu {
      padding: 0;
      list-style: none;

      li {
        display: inline-block;

        a {
          position: relative;
          text-decoration: none;

          &:before {
            width: 100%;
            height: 2px;

            position: absolute;
            bottom: -7px;
            left: 0;

            background-color: $orange-primary;
            content: '';
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.2s ease;
          }

          &:hover {

            &:before {
              visibility: visible;
              transform: scaleX(1);
            }
          }
        }

        &.gff-divider {
          padding: 0 10px;
        }
      }
    }
  }

  &.default {

    h4 {
      color: $font-color-dark;
    }

    .nav-menu {
      width: 1px;
      padding: 0;
      margin: 0;

      display: flex;
      align-items: center;
      position: absolute;
      right: 107px;
      height: 40px;
      // border-left: 1px solid #6e7265;

      list-style: none;
      overflow: hidden;
      transition: width 0.4s ease;

      .menu-border {
        width: 1px;
        height: 20px;
        border-left: 1px solid $green-secondary;

        &.last {
          position: absolute;
          right: 0;
        }
      }

      li {
        font-size: 16px;

        a {
          padding: 9px 15px;
          display: inherit;
          color: $font-color-light;

          &:hover {
            background: $orange-primary;
            color: $font-color-light;
          }
        }

        i {
          font-size: 18px;
        }
      }

      &.open {
        width: 242px;
        transition: width 0.4s ease;
      }
    }
  }
}

// hamburger icon
.icon-container {
  padding: 10px 15px 0 17px;
}

.hamburger-menu-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;

  span {
    width: 50%;
    height: 4px;

    display: block;
    position: absolute;

    background: $font-color-light;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;

    &:nth-child(even) {
      left: 50%;
    }

    &:nth-child(odd) {
      left: 0;
    }

    &:nth-child(1), &:nth-child(2) {
      top: 0;
    }

    &:nth-child(3), &:nth-child(4) {
      top: 8px;
    }

    &:nth-child(5), &:nth-child(6) {
      top: 16px;
    }
  }

  &.open {

    span {
      background-color: $orange-primary;

      &:nth-child(1), &:nth-child(6) {
        transform: rotate(45deg);
      }

      &:nth-child(2), &:nth-child(5) {
        transform: rotate(-45deg);
      }

      &:nth-child(1) {
        left: 4px;
        top: 3px;
      }

      &:nth-child(2) {
        left: calc(50% - 4px);
        top: 3px;
      }

      &:nth-child(3) {
        left: -50%;
        opacity: 0;
      }

      &:nth-child(4) {
        left: 100%;
        opacity: 0;
      }

      &:nth-child(5) {
        left: 4px;
        top: 11px;
      }

      &:nth-child(6) {
        left: calc(50% - 4px);
        top: 11px;
      }
    }
  }
}
