sub-nav {
  @include flex(flex-start, center, row);
  width: 100%;
  height: 45px;
  border-bottom: 1px solid $border-color-light;
}

.sub-nav-content {
  @include flex(space-between, center, row);
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;

  h2, h3, a {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }

  .title {
    margin-bottom: 0;
    color: $font-color-dark;
    font-size: 12px;

    &.sub {
      margin-right: 15px;
      white-space: nowrap;
    }
  }

  .links-container {
    @include flex(flex-start, center, row);
    height: 100%;
  }

  .svg-inline--fa {
    width: 20px;
    margin-right: 5px;
  }

  .sub-nav-link {
    margin: 9px 0;
    color: #a3adb7;

    &:visited {
      color: #a3adb7;
    }
  }
}

.sub-nav-menu {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
